<div>
  <h2 class="center">ADD EMPLOYEE</h2>
  <form class="form-add-container" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Superior ID</mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-raised-button color="primary">Primary</button>
  </form>
</div>
