<div class="center">
  <a routerLink="/">Hierarchy</a>
  Employee:
  <a routerLink="/add">Add</a>
</div>

<div class="center">
  <form (submit)="getHierarchy()">
    <input
      class="input"
      type="text"
      [formControl]="nameControl"
      matInput
      [matAutocomplete]="auto"
    />

    <mat-autocomplete #auto="" matAutocomplete>
      <mat-option
        *ngFor="let employee of employees"
        [value]="employee.name"
        (click)="getEmployee(employee)"
      >
        <h6>ID : {{ employee.id }}</h6>
        <h3>{{ employee.name }}</h3>
      </mat-option>
    </mat-autocomplete>

    <button mat-raised-button color="primary" type="submit" value="Search">
      Search
    </button>
  </form>
</div>

<div *ngIf="commandChain && subordinates">
  <div class="center">
    <mat-card class="employee-mat-card" appearance="raised">
      <mat-card-header *ngIf="employee">
        <mat-card-title>{{ employee.name }}</mat-card-title>
        <mat-card-subtitle>ID: {{ employee.id }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button routerLink="/update">Update</button>
        <button mat-button routerLink="/delete">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    animationDuration="750ms"
    dynamicHeight
  >
    <mat-tab label="Command Chain">
      <div>
        <h3 class="center" *ngFor="let employee of commandChain">
          {{ employee.name }}
        </h3>
      </div>
    </mat-tab>

    <mat-tab label="Subordinates">
      <div>
        <h3 class="center" *ngFor="let employee of subordinates">
          {{ employee.name }}
        </h3>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
